<div class="row">


	<div class="col-md-9" *ngIf="districts">
		<div class="alert alert-success">
			<h2 style="color: black; margin: 0cm 0cm 0cm 1cm; font-family: Times New Roman;">{{districts[0].stateName}}</h2><br>
			<div *ngFor="let district of !!districts ? districts : null " align="center">
				<a routerLink="locations/{{district.id}}" (click)="collapseNavbar()" style="text-decoration: none;">
					<div class="alert alert-success" style="background-color: white;">

						<h3 style="color: #2F4F4F; margin: 0cm 0cm 0cm 1cm; font-family: Times New Roman;">{{district.districtName}}</h3>
						<h4 style="color: #2F4F4F; margin: 0cm 0cm 0cm 1cm; font-family: Times New Roman;">{{district.locationCount}} Tourist Locations</h4>


						<br><br>
					</div>
				</a>
				<br><br>

			</div>
		</div>

	</div>
</div>