<div class="row">
	<div class="loading" *ngIf="loading">
		Loading....
	</div>


	<div class="col-md-9" *ngIf="districts">

		<div class="alert alert-success">

			<h2 style="color: black; margin: 0cm 0cm 0cm 1cm; font-family: Times New Roman;">{{districts[0].stateName}}</h2><br>
			<div *ngFor="let district of !!districts ? districts : null " align="center">
				<a routerLink="locations/{{district.id}}" (click)="collapseNavbar()" style="text-decoration: none;">
					<div class="alert alert-success" style="background-color: white;">

						<h3 style="color: #2F4F4F; margin: 0cm 0cm 0cm 1cm; font-family: Times New Roman;">{{district.districtName}}</h3>
						<h4 style="color: #2F4F4F; margin: 0cm 0cm 0cm 1cm; font-family: Times New Roman;">{{district.locationCount}} Tourist Locations</h4>
						<div  *ngIf="district.image1 && district.image2 && district.image3 && district.image4 && district.image5">

							<img class="img-thumbnail"[src]="'data:' + district.image1ContentType + ';base64,' + district.image1" style="width: 150px; height: 150px;" alt="Nature">&nbsp;
							<img class="img-thumbnail"[src]="'data:' + district.image2ContentType + ';base64,' + district.image2" style="width: 150px; height: 150px;" alt="state image">&nbsp;
							<img class="img-thumbnail" [src]="'data:' + district.image3ContentType + ';base64,' + district.image3" style="width: 150px; height: 150px;" alt="state image">&nbsp;
							<img class="img-thumbnail" [src]="'data:' + district.image4ContentType + ';base64,' + district.image4" style="width: 150px; height: 150px;" alt="state image">&nbsp;
							<img class="img-thumbnail"[src]="'data:' + district.image5ContentType + ';base64,' + district.image5" style="width: 150px; height: 150px;" alt="state image">

						</div>

						<br><br>
					</div>
				</a>
				<br><br>

			</div>
		</div>

	</div>
</div>