<div class="row">
	<!-- <div class="col-md-3">
				<span class="hipster img-fluid img-rounded"></span>
			</div> -->

	<!-- <div class="loading" *ngIf="loading">
		Loading....
	  </div>
	-->

	<!--	<a class="nav-link" routerLink="sample" (click)="collapseNavbar()">
			<i class="fa fa-home" aria-hidden="true"></i>
			<span >Sample2</span>
		</a>
	-->
	<div class="col-md-9">



		<div [ngSwitch]="isAuthenticated()">

			<div class="alert alert-warning" *ngSwitchCase="false">
				<span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
				<a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a> </div>

			<div class="alert alert-warning" *ngSwitchCase="false">
				<span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
				<a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>

			</div>


			<div class="alert alert-success" *ngSwitchCase="true" style="background-color: #F0F8FF;">
				<h1 align="center" style="font-family: 'Times New Roman', Times, serif">INDIA</h1>

				<div>

					<div *ngFor="let state of !!states ? states : null ">
						<a routerLink="states/{{state.id}}" (click)="collapseNavbar()" style="text-decoration: none;">
							<div class="alert alert-success" style="background-color: white;">
								<h2>
									<h2 style="color: #2F4F4F; margin: 0cm 0cm 0cm 1cm; font-family: Times New Roman;">{{state.name}}</h2>
								</h2>
								<div style="margin: 0cm 0cm 0cm 2cm; background-color: white; ">
									<h5>{{state.districtCount}} Districts</h5>
									<h5>{{state.locationCount}} Butterfly Tourist Locations</h5>
									<div class="thumbnail" *ngIf="state.image1 && state.image2 && state.image3 && state.image4 && state.image5">

										<img [src]="'data:' + state.image1ContentType + ';base64,' + state.image1" style="width: 150px; height: 150px;" alt="Nature">&emsp;
										<img [src]="'data:' + state.image2ContentType + ';base64,' + state.image2" style="width: 150px; height: 150px;" alt="state image">&emsp;
										<img [src]="'data:' + state.image3ContentType + ';base64,' + state.image3" style="width: 150px; height: 150px;" alt="state image">&emsp;
										<img [src]="'data:' + state.image4ContentType + ';base64,' + state.image4" style="width: 150px; height: 150px;" alt="state image">&emsp;
										<img [src]="'data:' + state.image5ContentType + ';base64,' + state.image5" style="width: 150px; height: 150px;" alt="state image">

									</div>
									<!-- <h6>5/5-Butterfly Customer Rating</h6>
								<h6>15000 Travelers Like You</h6>
								<h6>1150 Hotels And Resorts</h6> -->


								</div>
								<br>

							</div>
						</a>
						<br>
					</div>
				</div>


			</div>


		</div>






	</div>
</div>