<div class="row">

	<div class="col-md-9" *ngIf="location">
		

		<div class="alert alert-success">
			<h1 align="center" style="font-family: Times New Roman; color: black;">{{location.locationName}}</h1><br>
			<div class="alert alert-success" style="background-color: white;">
				<br>
				<div class="thumbnail" *ngIf="location.image1 && location.image2 && location.image3 && location.image4 && location.image5">

					<img [src]="'data:' + location.image1ContentType + ';base64,' + location.image1" style="width:4.5cm; height: 4.5cm" alt="location image"
					/>
					<img [src]="'data:' + location.image2ContentType + ';base64,' + location.image2" style="width:4.5cm; height: 4.5cm" alt="location image"
					/>
					<img [src]="'data:' + location.image3ContentType + ';base64,' + location.image3" style="width:4.5cm; height: 4.5cm" alt="location image"
					/>
					<img [src]="'data:' + location.image4ContentType + ';base64,' + location.image4" style="width:4.5cm; height: 4.5cm" alt="location image"
					/>
					<img [src]="'data:' + location.image5ContentType + ';base64,' + location.image5" style="width:4.5cm; height: 4.5cm" alt="location image"
					/>



				</div>
				<br>
			</div>
			<br><br><br><br><br>
			
			
		</div>
	</div>
</div>



